replicaCount: 1
image:
  repository: nginx
  tag: "1.24"
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  className: nginx
  hosts:
    - host: dev.sonth-my-app.com
      paths:
        - path: /
          pathType: Prefix

  tls:
    - secretName: dev-tls
      hosts:
        - dev.sonth-my-app.com
