replicaCount: 3
image:
  repository: nginx
  tag: "1.24"
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  hosts:
    - host: sonth-my-app.com
  tls:
    - secretName: prod-tls
      hosts:
        - sonth-my-app.com
